#
# Copyright 2022- IBM Inc. All rights reserved
# SPDX-License-Identifier: MIT
#
---
- hosts: all
  become: true
  vars:
    prereqs_path: "/vagrant/ceph-prep"
  tasks:
    - name: Update all packages
      ansible.builtin.dnf:
        name: "*"
        state: latest

    - name: Autoremove unneeded packages installed as dependencies
      ansible.builtin.dnf:
        autoremove: yes

    - name: Disable all RHSM repositories
      community.general.rhsm_repository:
        name: '*'
        state: disabled

    - name: Download ceph-tools repository
      ansible.builtin.uri:
        url: https://public.dhe.ibm.com/ibmdl/export/pub/storage/ceph/ibm-storage-ceph-8-rhel-9.repo
        dest: /etc/yum.repos.d/ibm-storage-ceph-8-rhel-9.repo

    - name: Enable select repositories
      community.general.rhsm_repository:
        name:
          - rhel-9-for-x86_64-baseos-rpms
          - rhel-9-for-x86_64-appstream-rpms
        state: enabled

    - name: Install ceph-common
      ansible.builtin.dnf:      
        name: "ceph-common"
        state: latest
