#
# Copyright 2022- IBM Inc. All rights reserved
# SPDX-License-Identifier: MIT
#
---
- hosts: all
  become: true
  vars:
    prereqs_path: "/vagrant/ceph-prep"
    perform_upgrades: true
  tasks:
    - name: Update all packages
      ansible.builtin.dnf:
        name: "*"
        state: latest
      when: perform_upgrades == true

    - name: Check if we need a reboot
      command: needs-restarting -r
      register: result
      ignore_errors: yes
      when: perform_upgrades == true

    - name: Display result of reboot check
      debug:
        var: result.rc
      when: perform_upgrades == true

    - name: Reboot Server if necessary
      reboot:
        reboot_timeout: 3600
      when: result.rc == 1 and perform_upgrades == true

    - name: Remove old kernels
      command: dnf remove -y --oldinstallonly
      when: perform_upgrades == true

    - name: Autoremove unneeded packages installed as dependencies
      ansible.builtin.dnf:
        autoremove: yes
      when: perform_upgrades == true

    - name: Download ceph-tools repository
      ansible.builtin.uri:
        url: https://public.dhe.ibm.com/ibmdl/export/pub/storage/ceph/ibm-storage-ceph-8-rhel-9.repo
        dest: /etc/yum.repos.d/ibm-storage-ceph-8-rhel-9.repo

    - name: Disable all RHSM repositories
      community.general.rhsm_repository:
        name: '*'
        state: disabled

    - name: Enable select repositories
      community.general.rhsm_repository:
        name:
          - rhel-9-for-x86_64-baseos-rpms
          - rhel-9-for-x86_64-appstream-rpms
        state: enabled

    - name: Install license package (most likely already installed)
      ansible.builtin.dnf:
        name: "ibm-storage-ceph-license"
        state: latest

    - name: Accept license conditions
      ansible.builtin.file:
        name: "/usr/share/ibm-storage-ceph-license/accept"
        state: touch

    - name: Key exchange, part 1
      ansible.builtin.copy:
        src: /vagrant/ceph-prep/id_rsa
        dest: /home/vagrant/.ssh/id_rsa
        mode: '0600'
        remote_src: true
      become: false

    - name: Key exchange, part 2
      ansible.builtin.copy:
        src: /vagrant/ceph-prep/id_rsa.pub
        dest: /home/vagrant/.ssh/id_rsa.pub
        remote_src: true
      become: false

    - name: Key exchange, part 3
      ansible.builtin.shell: cat /home/vagrant/.ssh/id_rsa.pub >> /home/vagrant/.ssh/authorized_keys
      become: false

    - name: Key exchange, part 4
      ansible.builtin.file:
        path: /root/.ssh
        state: directory
        mode: '0700'

    - name: Key exchange, part 5
      ansible.builtin.shell: cat /home/vagrant/.ssh/authorized_keys >> /root/.ssh/authorized_keys
